<!DOCTYPE html>
<html lang="en">
<head>
    <title>404</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    {{>header}}
    <main class="main-content">
        <p>{{errorMessage}}</p>
        <img class="img-fluid" src="/img/frown1.0.png">
    </main>
    
    {{>footer}}
</body>
</html>