{{!-- this is a partial which allows you to have the same thing across different pages without having to physically copy and paste them to each page --}}

<header>
    <h1>{{title}}</h1>
    
    <a href="/">Weather</a>
    <a href="/about">About</a>
    <a href="/help">Help</a>
</header>